
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/navbar.css">

    <link href="~/css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">NİZ PetShop</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Hayvanlar/Index">Ana Sayfa</a></li>
                <li><a href="/Hayvanlar/İlanlar">İlanlar</a></li>
                <li><a href="#">İletişim</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/Hayvanlar/Signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/Hayvanlar/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <section class="sptb">
        <div class="container customerpage">
            <div class="single-page">
                <div class="row">
                    <div class="col-md-5">
                        <div class="wrapper wrapper2">
                            <div style="padding:25px; padding-bottom:0px;">
                                <h4 class="text-left font-weight-semibold" style="margin-bottom:0px; font-size:15px;"><i class="fa fa-user-plus mr-1"></i> Kayıt Formu</h4><br>
                                <p class="text-left" style="color: #343a40;">Lütfen tüm bilgileri doğru ve eksiksiz olarak doldurunuz.</p>
                            </div>
                            <hr style="margin-bottom:0px;">
                            <form id="signup-frm" action="" method="" onsubmit="return false" class="card-body" tabindex="500">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">E-Posta</label>
                                    <input name="email" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Şifre</label>
                                    <input name="sifre_a" type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="text-uppercase">Şifre (Tekrar)</label>
                                    <input name="sifre_b" type="password" class="form-control">
                                </div>
                                <div id="response-signup"></div>
                                <div class="form-group">
                                    <button id="signup-btn" type="submit" class="btn btn-primary" style="width:100%;">Kayıt Ol</button>
                                </div>
                                <input type="hidden" name="8e7422ad79" value="490319a176946b8476157bb87a6b08abfb183d91868d4cf0522326047a977bcf">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>
