@{
    ViewData["Title"] = "Kayit";
    Layout = "~/Views/Shared/NavbarLayout.cshtml";
}

    <section class="sptb">
        <div class="container customerpage">
            <div class="single-page">
                <div class="row">
                    <div class="col-md-5">
                        <div class="wrapper wrapper2">
                            <div style="padding:25px; padding-bottom:0px;">
                                <h4 class="text-left font-weight-semibold" style="margin-bottom:0px; font-size:15px;"><i class="fa fa-user-plus mr-1"></i> Kayıt Formu</h4><br>
                                <p class="text-left" style="color: #343a40;">Lütfen tüm bilgileri doğru ve eksiksiz olarak doldurunuz.</p>
                            </div>
                            <hr style="margin-bottom:0px;">
                            <form id="signup-frm" action="" method="" onsubmit="return false" class="card-body" tabindex="500">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">E-Posta</label>
                                    <input name="email" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Şifre</label>
                                    <input name="sifre_a" type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="text-uppercase">Şifre (Tekrar)</label>
                                    <input name="sifre_b" type="password" class="form-control">
                                </div>
                                <div id="response-signup"></div>
                                <div class="form-group">
                                    <button id="signup-btn" type="submit" class="btn btn-primary" style="width:100%;">Kayıt Ol</button>
                                </div>
                                <input type="hidden" name="8e7422ad79" value="490319a176946b8476157bb87a6b08abfb183d91868d4cf0522326047a977bcf">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

