.text-white {
    color: #fff !important;
}

.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.top-bar {
    border-bottom: 1px solid #e8ebf3;
    background: #fff;
}

.bg-dark {
    background-color: #201e1e !important;
}

.image {
    width: 310px;
    height: 300px;
    left: 64.2px
}

.btn-block {
    display: block;
    width: 100%;
}

.bg-dark2 {
    background-color: #16133a !important;
}

.sptb-3 {
    padding-top: 4.7rem;
    padding-bottom: 4.7rem;
}

.cover-image {
    background-size: cover !important;
    width: 100%;
    position: relative;
}

.form-group {
    margin-bottom: 1rem;
}

.col-md-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
